@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background: url(../img/City\ 2.jpg) no-repeat;
    background-color: #000;
    background-position: center;
    background-size: cover;
    -webkit-backdrop-filter: brightness(0.5);
    backdrop-filter: brightness(0.4);

    transition: .3s ease-in-out all;
}

/* header - cabeçalho */
#cabeçalho {
    margin: 1.35rem 0 0 0.55rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    -webkit-user-select: none;
    user-select: none;
}

.Cabeçalho__icon img {
    width: 50px;

    cursor: pointer;
    border-radius: 20px;

    transition: .2s ease all;
}
.Cabeçalho__icon img:hover {
    background-color: #0a0a0ad5;
}

.Cabeçalho__logotipo h1 {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
}
.Cabeçalho__logotipo h1 span {
    font-weight: 100;
}
/* Header - barra-navegação */
#navegação ul {
    margin: 0 2rem 0 0;
    gap: 2rem;

    display: flex;
    flex-flow: row wrap;

    list-style-type: none;
}
#navegação ul li a {
    color: #fff;
    text-decoration: none;
    font-size: medium;
    font-weight: 700;

    transition: 0.2s linear all;
}
#navegação ul li a:hover {
    color: #f5f5f5be;
}
#navegação ul li a:active {
    color: #111111;
}

/* main-principal */
#principal {
    margin: 11.5rem 0 0 4.7rem;

    color: #fff;
}
.principal__text {
    display: flex;
    flex-flow: column wrap;
}
.principal__text div:nth-child(1) {
    text-transform: uppercase;
    font-size: larger;
    white-space: pre-line;
}
.principal__text div:nth-child(2) {
    width: clamp(200px, 30%, 700px);

    text-align: justify;
    font-size: medium;
    font-weight: 100;
    white-space: wrap;
}